.recipe-manager{
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}  

.recipe-manager h1{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.747);
}

.recipe-manager button{
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5 ease;
    background-color: hsl(240, 80%, 56%);
    border: none;
    border-radius: 5px;
}

.recipe-manager button:hover{
    background-color: hsl(240, 80%, 46%);
}

.recipe-manager input[type="text"]{
    font-size: 15px;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.112);
    border-radius: 5px;
}

.recipe-manager input,
.recipe-manager textarea{
    margin: 1rem auto;
    display: block;
    width: 90%;
}

.recipe-manager li{
    font-size: 15px;
    padding: 15px;
    margin: 1rem auto;
    background-color: rgba(128, 128, 128, 0.199);
    border-radius: 10px;
}

.recipe-manager li button{
    background-color: hsl(0, 72%, 51%);
    color: white;
    cursor: pointer;
}
  
.recipe-manager li button:hover{
    background-color: hsl(0, 72%, 41%);
}